.challenge {
    color: var(--black);
}
.card-title{
    padding: 10px;
}

.form-group{
    label{
        font-size: 14px;
        margin-bottom: 10px;
    margin-top: 10px;
    }
.form-control{
    padding: 15px;
    font-size:1.5rem;
}
}
.card-footer{
    button{
        width: 100px;
    height: 30px;
    font-size: 12px;
    };
}