main {
    .content {
        font-family: 'Poppins', sans-serif;
    }
}

main .content h1,
main .social h2 {
    font-weight: 500;
    font-size: 2.2rem;
    padding: 22px 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    margin-top: 3rem;
}

.content-item {
    padding: 22px;
    border: 1px solid var(--border-color-grey);
    border-radius: var(--border-radius-main);
    margin-bottom: 24px;
    background-color: var(--black-bold);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.04);
    transition: 0.3s;
}

.content-item-image {
    img {
        display: block;
        width: 288px;
        height: 150px;
        object-fit: cover;
        object-position: center;
        border-radius: var(--border-radius-main);
    }
}

.content-item-title {
    font-size: 80% !important;
    height: 6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    h3 {
        font-size: 1.5rem;
        margin: 12px 0;
    }
}

.content-item-des {
    height: 12rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    p {
        line-height: 1.7;
        font-size: 15px;
        max-width: 720px;
        color: var(--white-grey);
    }
}

.challenge-path {
    .content-item {
        cursor: pointer;
    }
}