.container-content {
    padding: 16px;
    border: 1px solid #454f59;
    border-radius: 0.25rem;
}

.description {
    padding: 12px;
    .desc-title {
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 2.6rem;
            font-weight: 500;
        }
    }
    .desc-time {
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        color: #8d99a7;
    }
    .short-desc {
        font-size: 1.6rem;
    }
    #desc-box {
        margin-top: 16px;
        padding: 16px;
        .box-title {
            h5 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.6rem;
                font-weight: 500;
            }
        }
        #box-list {
            font-size: 1.4rem;
            li {
                margin-bottom: 8px;
            }
        }
    }
    .desc-box1 {
        border: 1px solid #bba9fb;
        border-radius: 0.25rem;
    }
    .desc-box2 {
        border: 1px solid #ffda4d;
        border-radius: 0.25rem;
    }
}

.content {
    color: #fff;
}

.require {
    padding: 16px;
    .require-image {
        img {
            width: 100%;
            height: 100%;
            border-radius: 0.25rem;
            margin-bottom: 16px;
        }
    }
    .progres {
        p {
            font-size: 1.3rem;
            margin-bottom: 4px;
            font-weight: 400;
            color: var(--grey-color);
        }
        .progres-level {
            display: flex;
            margin-bottom: 20px;
            .progres-level-item {
                background-color: #454f59;
                height: 6px;
                width: 40px;
                margin: 0 4px 0 0;
                border-radius: 0.225rem;
            }
        }
    }
    .apply-button {
        button {
            padding: 12px;
            width: 100%;
            background-color: #32353a;
            border: 1px solid #454f59;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--grey-color);
            font-family: 'Poppins', sans-serif;
            border-radius: var(--border-radius-main);
        }
    }
}

.require .require-title h5,
.require .progres h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.list-require {
    font-size: 1.4rem;
    li {
        margin-bottom: 8px;
    }
}

.progres {
    margin-top: 28px;
}

.list-product {
    margin-bottom: 30px;
}

.product {
    a {
        text-decoration: none;
        color: #0b0f32;
    }
}

.product-title {
    h2 {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        margin-top: 10px;
    }
}

.product-item {
    padding: 12px;
    .product-content {
        background-color: var(--black-bold);
        border: 1px solid #454f59;
        border-radius: var(--border-radius-main);
        padding: 16px;
    }
}

.product-content {
    .product-image {
        img {
            width: 100%;
            border-radius: 0.25rem;
        }
    }
    .product-content-title {
        padding-top: 16px;
        margin-bottom: 12px;
        font-size: 1.8rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color: var(--white-grey);
    }
    .product-desc {
        color: #c9d0da;
        line-height: 175%;
        margin-bottom: 22px;
        font-size: 1.4rem;
    }
    .product-level {
        padding: 12px;
        background-color: var(--black);
        border-radius: 0.25rem;
        .product-level-name {
            p {
                color: #737f8b;
                font-size: 11px;
                font-family: 'Lato', sans-serif;
                margin-bottom: 8px;
            }
        }
        .product-level-main {
            display: flex;
        }
        .product-level-item {
            background-color: #e5eaf0;
            width: 51px;
            height: 6px;
            border-radius: 0.125rem;
            margin: 0 4px 0 0;
            &:first-child {
                background-color: #bba9fb;
            }
        }
    }
}